*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #fff;
    --secondary-color: #333;
    --main-color: #ff847c;
    --extra-color: #feceab;
}

.dark-mode {
    --primary-color: #333;
    --secondary-color: #fff;
    --main-color: #feceab;
    --extra-color: #ff847c;
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5% 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.toggle {
    display: flex;
    cursor: pointer;
}

.toggle .toggle-icon {
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active,
.navbarstill a:hover,
.navbarstill a.active {
    display: inline-block;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

/*home page*/
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color:var(--main-color);
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    height: 90%;
    margin-right: -10px;
    margin-bottom: 0;
    margin-top:50px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border: 2px solid var(--extra-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover,.social-media-still a:hover,.btnn a:hover {
    background: var(--extra-color);
    color: var(--secondary-color);
    box-shadow: 0 0 20px var(--main-color);
    border: 2px solid var(--extra-color);
}

.btn {
    display: inline-block;
    padding: 12px 48px;
    border-radius: 40px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px var(--extra-color);
    font-size: 16px;
    color: var(--primary-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.home .profession-container {
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    width:768px;
    height: 768px;
    overflow: hidden;
}

.profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideRight 1s ease forwards, professionRotate 13s ease-out infinite;
    animation-delay: 2.5s,3.5s;
}

.profession-box .profession {
    position: absolute;
    left:0;
    transform-origin: 384px;
    transform: rotate(calc(360deg/4*var(--i)));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--primary-color);
    padding: 13px 0;
}

.profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.profession-box .profession:nth-child(2) i {
    margin-right: 20px;
}

.profession-box .profession:nth-child(4) i {
    margin-right: 20px;
}

.profession i {
    font-size: 38px;
}

.profession h3 {
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
}

.profession-box .circle {
    width: 72%;
    height: 72%;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}
/*still for other pages*/
.logostill {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbarstill a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
}

/*about page*/
.about {
    display: flex;
    margin: 15% 0 5% 10%;
}

.about-content{
    margin: 5% 10% 0 10%;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    height: 500px;
}

.description {
    height: 100px;
}
.about-content .display , .contact .display{
    display: flex;
    line-height: 30px;
}

.about-content .title , .contact .title{
    color:#feceab;
}

.box{
    display:flex; 
}

.contents {
    text-align:center;
    width: 300px;
    border:10px var(--primary-color); 
    background-color: var(--main-color);
    padding: 40px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}  
  
.contents h2 {
    color: #ff847c;  
    font-size: 32px;
} 

.contents h4 {
    font-size: 20px;
    color:#fff;
}

/*experience page*/
.experience {
    align-items: center;
    margin: 15% 0 0 5%;
}

.contents1 {
    text-align:left;
    width: 700px;
    height: 400px;
    border:30px #1f1e1e solid; 
    background-color: #feceab;
    padding: 40px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}  

.contents1 .top {
    color: #1f1e1e;
    font-size: 20px;
    padding: 0 0 20px 0;
}

.contents1 .middle {
    color: #ff847c;
    font-size: 32px;
    padding: 0 0 20px 0;
}

.contents1 .bottom {
    color: #fff;
    font-size: 20px;
}

.contents1 h5{
    font-size: 18px;
}

/*skills page*/
.skills {
    align-items: center;
    margin: 10% 0 0 2.5%;
}

.contents2 {
    text-align:center;
    width: 500px;
    height: 280px;
    border:20px #1f1e1e solid; 
    background-color: #feceab;
    padding: 40px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}  

.contents2 h2 {
    color: #ff847c;  
    font-size: 32px;
    line-height: 50px;
}

.contents2 h4{
    font-size: 20px;
    color:#fff;
}

.contents:hover,.contents1:hover,.contents2:hover {
    background-color:#474747;
}

/*contact page*/
.contact {
    align-items: center;
    margin: 10% 0 0 10%;
}

.contact h2 {
    line-height: 100px;
}

.social-media-still a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff847c;
    border-radius: 50%;
    font-size: 20px;
    color: #feceab;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}


.text-wrapper {
    display: flex;
    justify-content: flex-start;
    background: var(--primary-color);
    overflow: hidden;
}

.text-wrapper h1 {
    font-size:500px;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: move-rtl 10000ms linear infinite; 
    font-family: 'Kaushan Script', cursive;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*keyframes animation*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes professionRotate {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70%% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
